<html ng-app ng-controller="PhoneListController">
<!--
하위 모든 요소는 모두 앵귤러 어플리케이션으로 다뤄진다.
-->


<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js">
    </script>
    <!--
    이 태그는 당연하게도 앵귤러js를 로드하고, 더불어 HTML페이지가 모두 로드된 후에
    브라우저에 의해 실행되는 콜백을 등록한다.
    -->
    
    <script type="text/javascript" charset="utf-8">
        
        /* BODY 태그 안에 ng-controller 에서 할당해준 컨트롤러의 이름과 동일한 자바스크립트 함수가 자동으로 매칭된다. ng-controller에서 호출할 때는 scope 파라메터를 따로 넣지 않았지만, 실제 컨트롤러 함수에서는 아래와 같이 $scope 를 파라메터로 받는다. 백그라운드 통신을 위해 $http를 파라메터로 추가해준다. */

        function PhoneListController($scope, $http)
        {
            /* jQuery의 ajax 통신과 거의 유사하다. */
            $http.get('ex4_json.php').success(
            function(data)
            {
                $scope.phones = data;
            });
            
            /* 기본값을 미리 번호로 정해주었다. */
            /* 기본값을 정하지 않아도 되지만, 그럴경우 선언된 순서대로 표시된다. */
            $scope.orderProperty = "no";
            
            /* 이렇게 선언된 배열 형태의 데이터 모델은 후에 NG-REPEAT에 의해 사용된다. */
        }
        
    </script>
    
    
</head>
<body>
    
    검색 : 
    <input type="text" ng-model="searchKeyword"/>
    <!--
    searchKeyword 라는 이름의 앵귤러 모델을 선언해주었다.
    여기에 입력된 내용은 searchKeyword 라는 모델에 자동으로 들어간다. 
    -->
    
    정렬 : 
    <select ng-model="orderProperty">
        <option value="name" selected>이름</option>
        <option value="snippet">설명</option>
        <option value="no">번호</option>
    </select>
    <!--
    orderProperty 라는 임의의 이름으로 정렬 순서를 정해줄 앵귤러 모델을 선언해 주었다.   
    -->
    
    
    <ul>
        <li ng-repeat="phone in phones | filter:searchKeyword | orderBy:orderProperty">
            번호 : {{phone.no}}<br />
            이름 : {{phone.name}}<br />
            설명 : {{phone.snippet}}
        </li>
    </ul>
    
    <p>
        현재 검색 키워드 : {{searchKeyword || '없음'}}<br />
        현재 정렬 기준 : {{orderProperty}}
    </p>
</body>
</html>